@import '../../../assets/styles/color.scss';

.user-details-container {
    padding: 40px 50px 20px 50px;
    position: relative;

    .copy-icon {
        height: 18px;
        width: 18px;

        &:hover {
            cursor: pointer;
        }
    }

    .label-span {
        background-color: $border-light;
        padding: 3px 10px;
        border-radius: 5px;
    }

    .action-section {
        position: absolute;
        top: 75px;
        right: 50px;

        .custom-btn {
            font-family: "Comfortaa", serif;
            border-radius: 5px;

            background-color: #e3e3e4;
            color: $primary-web-dark;

            &:hover {
                background-color: $primary-mat-color;
                color: white;
            }
        }
    }
}