<div class="customer-container d-flex h-100">
    <div class="list-section">
        <div class="refresh-section d-flex justify-content-between align-items-center">
            <div>
                <div class="line1">{{computedData?.customerList?.length}} {{isSearching? 'Results found':'Customers'}}
                </div>
                <div class="line2">Updated <span>{{computedData?.lastUpdatedStr}} </span>
                    <span class="refresh" (click)="refreshCustomerData(true)" tabindex="0"
                        title="Refresh customer list">refresh</span>.
                </div>
            </div>
            <div class="add-customer d-flex justify-content-center align-items-center" (click)="onAddNewCustomer()"
                tabindex="0">
                <span *ngIf="!addNewCustomer" title="Add Customer">+</span>
                <span *ngIf="addNewCustomer" title="Cancel">x</span>
            </div>
        </div>

        <div *ngIf="computedData.customerList?.length > 0" class="customer-list">
            <app-user-card *ngFor="let obj of computedData.customerList; let i = index" [userObject]="obj"
                [selected]="selectedIndex === i" (click)="customerSelected(obj,i)">
            </app-user-card>
        </div>

        <div *ngIf="computedData.customerList?.length === 0"
            class="customer-list d-flex justify-content-center align-items-center flex-column">
            <img src="assets/images/banner/no-result.png" alt="">
            <div *ngIf="isSearching" class="m-4 text-center bold-text">No search results found!</div>
            <div *ngIf="!isSearching" class="m-4 text-center bold-text">You have no customers.<br>Add new customers!
            </div>
        </div>
    </div>

    <div *ngIf="addNewCustomer" class="details-section">
        <app-new-account (onCancel)="addNewCustomer=false" userType="customer"
            [editProfileId]="selectedCustomer?.data?.userId" [isEditingProfile]="isEditingProfile"
            (onDelete)="onDeleteProfile(selectedCustomer?.data?.userId)">
        </app-new-account>
    </div>
    <div *ngIf="selectedCustomer && !addNewCustomer" class="details-section d-flex flex-column">
        <app-user-details *ngIf="selectedCustomer" [userObject]="selectedCustomer" [userId]="userId"
            (onProfileEdit)="onProfileEdit()"></app-user-details>

        <app-entry-data-table [customerObject]="selectedCustomer" class="flex-grow-1"></app-entry-data-table>
    </div>
    <div *ngIf="!selectedCustomer && !addNewCustomer"
        class="details-section d-flex justify-content-center align-items-center flex-column">
        <img src="assets/images/banner/no-result.png" alt="">
        <div class="m-4 text-center bold-text">Selected a customer from the list to view its contents!</div>
    </div>
</div>