@import '../../../assets/styles/color.scss';

.new-customer-container {
    padding: 30px 0px 40px 40px;

    .heading {
        font-size: 28px;
    }

    .limit-textarea {
        &-1 {
            min-height: 40px;
            max-height: 100px;
        }

        &-2 {
            min-height: 40px;
            max-height: 200px;
        }
    }

    .customer-form {
        max-width: 800px;

        .error-msg {
            font-size: 14px;
            color: $primary-web-red;
        }

        .cancel-btn {
            background-color: #e3e3e4;
            color: $primary-web-dark;

            &:hover {
                background-color: $primary-web-red;
                color: white;
            }
        }
    }
}