@import '../../../assets/styles/color.scss';

.data-table-container {
    padding: 0px 50px 40px 50px;

    .detail-section {
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 20px;

        .data-card {
            padding: 15px 20px 10px 20px;
            border-radius: 10px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;

            &:hover {
                background-color: $border-very-light;
            }

            &.danger {
                border-bottom: 3px solid $primary-web-red;
            }
        }

        .entry-btn {
            &:hover {
                background-color: $primary-mat-color;
                cursor: pointer;
                color: white;
            }
        }

        .export-btn {
            &:hover {
                background-color: $excel-color;
                cursor: pointer;
                color: white;
            }
        }

        .disabled-entry-btn {
            background-color: $border-very-light;
            color: $border-light;
            cursor: not-allowed;
        }

        .custom-btn {
            font-family: "Comfortaa", serif;
            border-radius: 5px;
            align-self: center;
        }
    }

    .table-div {
        overflow-y: auto;
    }

    .custom-table {
        .custom-header-row {
            background-color: $border-light;
        }

        .custom-row:nth-child(even) {
            background-color: $border-very-light;
        }

        .custom-header-cell {
            font-family: "Comfortaa", serif;
        }

        .custom-mat-cell {
            font-family: "Comfortaa", serif;
        }

        .text-right {
            text-align: end
        }

        .witdh-limit-200 {
            max-width: 200px;
        }

        .name-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $primary-mat-color;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .nowrap {
            white-space: nowrap;
        }
    }

    .no-data {
        height: calc(100% - 60px);
    }
}

@media (max-width: 1440px) {
    .data-table-container {
        padding: 0px 25px 40px 25px;
    }
}

.new-full-entry {
    z-index: 2;
    font-family: "Comfortaa", serif;

    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    left: 0;
    top: 70px;

    .model-box {
        width: 50%;
        min-width: 700px;
        max-height: 95%;
        overflow-y: auto;

        background-color: white;
        border-radius: 20px;
        padding: 20px 30px 20px 30px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

        @media (max-width: 800px) {
            min-width: calc(100vw - 60px);
        }
    }
}