@import '../../../assets/styles/color.scss';

.new-entry-container {
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;

    .heading {
        font-size: 28px;
    }

    .limit-textarea {
        &-1 {
            min-height: 40px;
            max-height: 100px;
        }

        &-2 {
            min-height: 40px;
            max-height: 200px;
        }
    }

    .customer-form {

        .gap {
            gap: 10px;
        }

        .box-input {
            flex: 1 0 17%;
        }

        .box-input-half {
            flex: 1 0 45%;
        }

        .p-relative {
            position: relative;
        }

        .select-dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: white;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
            border: 1px solid gray;
            z-index: 10;
            max-height: 200px;
            overflow-y: auto;

            .profile {
                padding: 7px 10px;

                &:hover {
                    background-color: $border-very-light2;
                    cursor: pointer;
                }
            }
        }

        .dropdown-number {
            background-color: $border-light;
            padding: 3px 5px;
            border-radius: 5px;
        }
    }

    .nowrap {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .error-msg {
        font-size: 14px;
        color: $primary-web-red;
    }

    .button-section {
        flex-wrap: wrap;
        gap: 10px;

        .custom-btn {
            font-family: "Comfortaa", serif;
            border-radius: 5px;
            min-width: 200px;
        }

        .cancel-btn {
            background-color: #e3e3e4;
            color: $primary-web-dark;

            &:hover {
                background-color: $primary-web-red;
                color: white;
            }
        }

        @media (max-width: 1024px) {
            .custom-btn {
                min-width: 150px;
            }
        }
    }
}